.App {
  text-align: center;
   font-size: 25px
}
*{
  box-sizing: border-box;
}
html{
  background: linear-gradient(to right bottom, rgb(64, 14, 146),rgb(189, 20, 175)) no-repeat center fixed;
  
}
.products{
  margin-top: 20px;
  display:grid;
  gap:10px;
  grid-template-columns: auto auto auto;
  justify-content: center;
  margin-bottom: 50px;;
}

.products__item{

    width:400px;
    height:350px;
    background-color: gray;
    padding :10px;
    font-size: large;
    text-align:center;
}

.products__item__image{
   
  width:100%;
  height:90%;
  object-fit: cover;
  cursor: pointer;
   
}

.pagination{
   margin-top: 30px;
   display: flex;
   width: 30%;
   height:50px;
   margin: auto;
   justify-content: center;
   align-items: center;
  
}

.page{
   display:block;
   border: 1px solid black;
   width:50px;
   height: 50px;
   padding:12px;
   cursor: pointer;
   background-color: rgb(118, 133, 133);
   transition: all 3sec;

}
.page:hover{
     background-color: rgb(25, 13, 80);
     color: white;
     transform: scale(1.1,1.1);
     border-radius: 4px;;
}
.selectedpage {
  background-color: rgb(25, 13, 80);
  color:white;
}
